doctype html
html(lang="en")
  head
    title Favourite Beers!
  body
    include includes/header.pug
    if name
      h2 Welcome, #{name}!
      form(action='/goodbye', method='post')
        button(type='submit') Log out
    block content
    include includes/footer.pug
